
.navbar-main-aceroimport {
	background-color: @bg-main-nav;
    color:#ffffff;
  	border-radius:0;
}
  
.navbar-main-aceroimport .navbar-nav > li > a {
  	color:#fff;
  	padding-left:20px;
  	padding-right:20px;
}
.navbar-main-aceroimport .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
	background-color:transparent;
}
      
.navbar-main-aceroimport .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #33aa33;
}
      
.navbar-main-aceroimport .navbar-brand {
  	color:#eeeeee;
}
.navbar-main-aceroimport .navbar-toggle {
  	background-color:#eeeeee;
}

